.registerdoctor-container {
    max-width: 70vw;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registerdoctor-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

@media screen and (min-width: 800px) {
    .registerdoctor-container {
        width: 500px;
    }
}
